{% extends 'base.html' %}
{% block content %}
    {% if error != '' %}    
        <h1>{{ error }}</h1>
    {% endif %}
    <div>
        <form method="post">{% csrf_token %}
            <input type="text" maxlength="255" placeholder="Nazwa sali konferencyjnej" name="name" style="width: 20em;">
            <input type="number" min="0" placeholder="Ilość miejsc" name="capacity" style="width: 10em;">
            <input type="checkbox" name="projector">
                <label for="projector">Projektor</label>
            <input type="submit" value="Dodaj salę">
        </form>
    </div>
{% endblock %}